<div>
    <div class="content-header">Services</div>      
        <p style="hyphens: auto; text-align: justify;">
            In diesem Abschnitt finden Sie die Services, die von der Universität angeboten oder
            als nützlich empfunden werden.
            Hier finden Sie fachspezifische und allgemeine Forschungsdatenrepositorien, Coderepositorien,
            Werkzeuge um Datenmanagementpläne und Literatursammlungen zu verwalten, Informationen rund
            um die Publikation Ihrer wissenschaftlichen Arbeiten und zum elektronischen Laborbuch, mit
            Hilfe dessen Sie Experimente verwalten und aufzeichnen können.
        </p>
        <ul>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/datarepos']">Datenrepositorien</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/dmp']">Datenmanagementplan</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/coderepos']">Quellcoderepositorien</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/publication']">Publikation</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/elab']">elektronisches Laborbuch</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/services/referencemanagement']">Literaturverwaltung</a></li>
        </ul>
</div>
