<div>
    <div class="content-header">Beratung</div>
        <p style="hyphens: auto; text-align: justify;">
            Unsere Universität bietet umfassende Beratungsservices im Bereich des Forschungsdatenmanagements, die Forschende während des gesamten Projektzyklus begleiten. Von der Erstellung des Förderantrags über die Erhebung und Verarbeitung von Forschungsdaten bis hin zur Langzeitarchivierung stehen wir Ihnen mit fachkundiger Unterstützung zur Seite.
            <br>
            Unser Team und Kontaktmöglichkeiten finden Sie <a [routerLink]="['/forschen/forschungsdatenmanagement/team']">hier</a> finden.
        </p>
        <h4>Individuelle Beratung</h4>
        <p style="hyphens: auto; text-align: justify;">
            Neben einer ganzheitlichen Betreuung bieten wir gezielte Beratung zu spezifischen Fragestellungen, um Ihren individuellen Bedarf optimal zu erfüllen. Unsere Expertinnen und Experten unterstützen Sie dabei, geeignete Strategien und Lösungen für die Planung, Organisation und Dokumentation Ihrer Forschungsdaten zu entwickeln.
        </p>
        <h4>Rechtsberatung</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein besonderer Fokus liegt auf der Rechtsberatung im Forschungsdatenmanagement. Unsere Services helfen Ihnen, juristische Herausforderungen wie Datenschutz, Urheberrecht und Nutzungsrechte sicher zu meistern.
        </p>
        <p style="hyphens: auto; text-align: justify;">    
            Profitieren Sie von unserem Know-how und optimieren Sie Ihr Forschungsdatenmanagement mit maßgeschneiderten Lösungen. Kontaktieren Sie uns für weitere Informationen oder vereinbaren Sie einen Beratungstermin!
        </p>
</div>