<div>
    <div class="content-header">Initiativen</div>
    <ng-container *ngFor="let category of preferencesService.getCategories()">
        <ng-container *ngIf="preferencesService.getGroupAndCategory('initiatives', category).length > 0">
        <h4 style="margin-top: 30px">{{category}}</h4>
        <div class="accordion" id="{{category}}">
            <ng-container *ngFor="let entry of preferencesService.getGroupAndCategory('initiatives', category); index as i">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            attr.data-bs-target="#{{category}}-{{i}}" aria-expanded="false"
                            attr.aria-controls="{{category}}-{{i}}">
                            {{entry.label}}
                        </button>
                    </h2>
                    <div attr.id="{{category}}-{{i}}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            {{entry.description}}<br>
                            <a attr.href="{{entry.link}}" target="_blank" rel="noopener noreferrer">link</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        </ng-container>
    </ng-container>
</div>
