<div>
    <div class="content-header">Das elektronische Laborbuch</div>
        <p style="hyphens: auto; text-align: justify;">
            Das elektronische Laborbuch (eLab) ist ein unverzichtbares Werkzeug für die moderne Forschung. Es erleichtert die 
            Organisation von Experimenten und Experimentreihen und unterstützt Forschende dabei, Daten effizient zu dokumentieren, 
            zu analysieren und langfristig sicher aufzubewahren. An unserer Universität steht das eLab allen Studierenden, Forschenden 
            und Mitarbeitenden zur Verfügung, um wissenschaftliche Projekte effektiver umzusetzen.
            <br>
            Unsere eLab Instanz können Sie <a href="https://elab.ur.de/" target="_blank" rel="noopener noreferrer">hier</a> finden.
        </p>
        <h4>Was ist ein elektronisches Laborbuch?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein elektronisches Laborbuch ist eine digitale Plattform, die das traditionelle papierbasierte Laborbuch ersetzt. Es bietet zahlreiche Funktionen, darunter:
        </p>
            <ul>
                <li><b>Strukturierte Dokumentation:</b> Erfassung von Versuchsbeschreibungen, Ergebnissen und Analysen.</li>
                <li><b>Datenmanagement:</b> Zentralisierte Speicherung von Forschungsdaten, einschließlich Fotos, Tabellen und Diagrammen.</li>
                <li><b>Zugänglichkeit:</b> Zugriff auf Laborbücher von verschiedenen Geräten und Standorten.</li>
                <li><b>Export:</b> Die Möglichkeit, die Forschungsdaten in gängige Formate zu exportieren.</li>
            </ul>
        <h4>Funktionen und Vorteile des eLab</h4>
            <ul>
                <li><b>Effiziente Organisation:</b> Projekte, Experimente und Daten können übersichtlich angelegt und verwaltet werden.</li>
                <li><b>Kollaboration:</b> Teammitglieder können simultan auf gemeinsame Inhalte zugreifen und zusammenarbeiten.</li>
                <li><b>Suchfunktion:</b> Schnelles Finden von spezifischen Informationen durch Schlagwortsuche oder Filtermöglichkeiten.</li>
                <li><b>Datenintegrität und Sicherheit:</b> Automatisierte Back-ups und Zugriffskontrollen gewährleisten den Schutz sensibler Forschungsdaten.</li>
            </ul>
        <h4>Zugang und Nutzung</h4>
        <p style="hyphens: auto; text-align: justify;">
            Das elektronische Laborbuch ist für alle Universitätsmitglieder zugänglich. So starten Sie:
        </p>
            <ul>
                <li><b>Registrierung:</b> Beantragen Sie Ihren Zugang per Email an elab&#64;{{configService.config.domain}}.</li>
                <li><b>Erste Schritte:</b> Nehmen Sie an einer Einführungsveranstaltung oder Schulung teil, um alle Funktionen des eLab kennenzulernen. <a [routerLink]="['/forschen/forschungsdatenmanagement/workshops']">hier</a></li>
                <li><b>Nutzung im Alltag:</b> Erfassen und verwalten Sie Ihre Experimente direkt in der Plattform – jederzeit und überall.</li>
                <li><b>Beratung:</b> Bei Fragen oder spezifischen Anforderungen steht unser Team zur Verfügung. <a [routerLink]="['/forschen/forschungsdatenmanagement/team']">hier</a></li>
            </ul>
        <p style="hyphens: auto; text-align: justify;">    
            Ein elektronisches Laborbuch ist ein entscheidender Schritt hin zu einer effizienteren, sichereren und kollaborativeren Forschung. Machen Sie von diesem Angebot 
            Gebrauch und profitieren Sie von den modernen Möglichkeiten des digitalen Datenmanagements!
        </p>
</div>