<div>
    <div class="content-header">Team und Kontakt</div>
    <p style="hyphens: auto; text-align: justify;">Auf dieser Seite stellt sich das Team für Forschungsdatenmanagement vor. Allgemeine Anfragen können gerne an
    forschungsdatenmanagement&#64;bu.com gerichtet werden oder ihr kommt Mo-Fr zwischen 9:00 und 16:00 in unserm Büro 
    Raum 402 im Gebäude B vorbei.</p>
    <br>
    <ng-container *ngFor="let ds of datastewards">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                <img src="{{ds.pic}}" width="72px" class="img-fluid rounded-start" alt="{{ds.name}}">
                </div>
                <div class="col-lg-10">
                <div class="card-body">
                    <h5 class="card-title">{{ds.name}}</h5>
                    <p class="card-text">
                        {{ds.description}}
                    </p>
                    <p class="card-text"><small class="text-body-secondary">{{ds.special.join(', ')}}</small> - {{ds.email}}</p>
                </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
