<div>
    <h3>Willkommen</h3>
    <div class="container text-center">
        <div class="row">
        <div class="col-2">
            <img src="stewards.png" class="img-fluid" style="margin-top: 10px" alt="Das Team für Forschungsdatenmanagement" />
        </div>
        <div class="col-8">
            <p style="hyphens: auto; text-align: justify;">
            Willkommen auf der Seite der Beliebigen Universität, die sich der Förderung und Entwicklung von Forschungsdatenmanagement widmet. 
            In einer Zeit, in der Daten eine zentrale Rolle in Wissenschaft und Forschung spielen, verstehen wir die Bedeutung eines effektiven und effizienten 
            Umgangs mit Forschungsdaten.<br><br>

            Unser Ziel ist es, Forscherinnen und Forschern die Werkzeuge, Ressourcen und Schulungen bereitzustellen, die sie benötigen, um ihre Daten 
            verantwortungsvoll zu verwalten und zu nutzen. Von der Datenplanung über die Erhebung und Speicherung bis hin zur Archivierung und Veröffentlichung – 
            wir bieten umfassende Unterstützung in allen Phasen des Forschungsdatenmanagements.<br><br>

            Besonders stolz sind wir auf unsere interdisziplinären Ansätze, die es ermöglichen, dass Forscherinnen und Forscher aus verschiedenen Fachrichtungen 
            voneinander lernen und gemeinsam innovative Lösungen entwickeln können. Durch Workshops, Seminare und individuelle Beratungen fördern wir den Austausch 
            und die Zusammenarbeit.<br><br>

            Wir laden Sie herzlich ein, unsere Angebote zu erkunden und Teil unserer Gemeinschaft zu werden. Gemeinsam können wir die Qualität und die Wirkung von 
            Forschungsdaten verbessern und somit zur Exzellenz der Forschung an unserer Universität beitragen.<br><br>

            Herzlich willkommen und viel Erfolg auf Ihrem Weg zu einem effektiven Forschungsdatenmanagement!<br><br>

            <b>Ihr Team für Forschungsdatenmanagement (und Copilot)</b>
            </p>
        </div>
        </div>
    </div>
</div>