<div>
    <div class="content-header">Metadatenstandards</div>    
    <div class="accordion" id="metadata">
        <ng-container *ngFor="let entry of preferencesService.getGroup('metadata'); index as i">        
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        attr.data-bs-target="#metadata-{{i}}" aria-expanded="false"
                        attr.aria-controls="metadata-{{i}}">
                        {{entry.label}}
                    </button>
                </h2>
                <div attr.id="metadata-{{i}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{entry.description}}<br>
                        <a attr.href="{{entry.link}}" target="_blank" rel="noopener noreferrer">link</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
