<div class="container-xxl main-content d-grid">
    <div>
        <h3>Forschen</h3>
        <p style="hyphens: auto; text-align: justify;">
            Willkommen auf der Forschungsseite der {{configService.config.name}}. Unsere Universität steht für wissenschaftliche Exzellenz 
            und innovative Forschung. Wir sind stolz darauf, ein führendes Zentrum für bahnbrechende Forschung zu sein, das sich durch interdisziplinäre 
            Zusammenarbeit und zukunftsweisende Projekte auszeichnet.
            <br><br>
            Unsere Forscherinnen und Forscher arbeiten daran, die großen Herausforderungen unserer Zeit zu bewältigen und neues Wissen zu schaffen, das 
            die Welt verändert. Von der Grundlagenforschung bis zur angewandten Wissenschaft setzen wir auf höchste Qualität und wissenschaftliche Integrität.
            <br><br>
            Entdecken Sie unsere vielfältigen Forschungsprojekte, unsere beeindruckenden Publikationen und die internationalen Kooperationen, die uns ermöglichen, 
            an vorderster Front des wissenschaftlichen Fortschritts zu stehen. Begleiten Sie uns auf einer Reise, die die Grenzen des Wissens erweitert und die Zukunft gestaltet.
            <br><br>
            Herzlich willkommen in der faszinierenden Welt der Forschung an der {{configService.config.name}}!
        </p>
        <p style="hyphens: auto; text-align: justify;">
            Weiter zum <a [routerLink]="['/forschen/forschungsdatenmanagement']">Forschungsdatenmanagement</a>.
        </p>
    </div>
</div>
