<div>
    <div class="content-header">Richtlinien für Forschung, Ethik und Datenschutz an der Universität</div> 
        <p style="hyphens: auto; text-align: justify;">
            Die Einhaltung klarer Richtlinien ist essenziell, um eine qualitativ hochwertige, 
            transparente und verantwortungsvolle Forschung zu gewährleisten. Auf dieser Seite 
            finden Sie alle relevanten Informationen und Ressourcen zu den zentralen Themen 
            Forschung, Ethik und Datenschutz an der Universität.
        </p>
        <h4>Forschungsrichtlinien</h4>
        <p style="hyphens: auto; text-align: justify;">
            Die ausführlichen Forschungsrichtlinien finden Sie <a href="#">hier</a> im PDF-Format.
        </p>
            <ul>
                <li><b>Qualitätsstandards:</b> Überblick über die institutionellen Anforderungen an wissenschaftliche Arbeiten und Veröffentlichungen.</li>
                <li><b>Datenmanagement:</b> Vorgaben zur Sammlung, Speicherung und Nutzung von Forschungsdaten, einschließlich Langzeitarchivierung.</li>
            </ul>
        <h4>Ethikrichtlinien</h4>
        <p style="hyphens: auto; text-align: justify;">
            Die ausführlichen Ethikrichtlinien finden Sie <a href="#">hier</a> im PDF-Format.
        </p>
            <ul>
                <li><b>Ethische Grundsätze:</b> Richtlinien zur Wahrung von Integrität und Verantwortung in der Forschung.</li>
                <li><b>Ethikkommission:</b> Informationen zum Antragsverfahren für ethische Prüfungen von Forschungsprojekten.</li>
                <li><b>Umgang mit Versuchspersonen:</b> Regeln für den Schutz und die Einwilligung von Studienteilnehmende.</li>
            </ul>
        <h4>Datenschutzrichtlinien</h4>
        <p style="hyphens: auto; text-align: justify;">
            Die ausführlichen Datenschutzrichtlinien finden Sie <a href="#">hier</a> im PDF-Format.
        </p>
            <ul>
                <li><b>Datenschutz in der Forschung:</b> Vorgaben zur Erhebung und Verarbeitung personenbezogener Daten.</li>
                <li><b>Rechtliche Grundlagen:</b> Hinweise zu nationalen und internationalen Datenschutzbestimmungen wie der DSGVO.</li>
                <li><b>Datensicherheit:</b> Empfohlene Maßnahmen zur Sicherstellung der Sicherheit sensibler Daten.</li>
            </ul>
        <h4>Unterstützung und Beratung</h4>
        <p style="hyphens: auto; text-align: justify;">
            Für alle Fragen oder Anliegen zu den Richtlinien steht Ihnen unser Expertenteam zur Verfügung. Kontaktieren Sie uns unter 
            forschungsdatenmanagement&#64;bu.com, um individuelle Unterstützung zu erhalten.
            <br><br>
            Unsere Leitlinien sind der Schlüssel zu einer verantwortungsvollen, rechtssicheren und exzellenten Forschung. Informieren 
            Sie sich und gestalten Sie Ihre Projekte im Einklang mit den höchsten Standards.
        </p>
</div>