<div>
    <h3>Datenrepositorien</h3>
    <div class="accordion" id="repositories">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#repository-collapseOne" aria-expanded="false"
                    aria-controls="repository-collapseOne">
                    BU - Allgemeines Repositorium
                </button>
            </h2>
            <div id="repository-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Das <a href="#">allgemeine Repositorium</a> der BU. Zu nutzen, wenn sich kein spezifischeres Repositorium anbietet.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#repository-collapseTwo" aria-expanded="false"
                    aria-controls="repository-collapseTwo">
                    re3data
                </button>
            </h2>
            <div id="repository-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="https://www.re3data.org/">re3data</a> ist eine Suchmaschine für Forschungsdatenrepositorien.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#repository-collapseThree" aria-expanded="false"
                    aria-controls="repository-collapseThree">
                    Harvard Dataverse
                </button>
            </h2>
            <div id="repository-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="https://dataverse.harvard.edu/">Harvard Dataverse</a> ist ein für Forschende aller Disziplinen
                    offenes Datenrepositorium.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
    <h3>Datenmanagementpläne</h3>
    <div class="accordion" id="dmptools">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#dmptool-collapseOne" aria-expanded="false"
                    aria-controls="dmptool-collapseOne">
                    BU - RDMO
                </button>
            </h2>
            <div id="dmptool-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="#">Link</a> zum RDMO Instanz der BU.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#dmptool-collapseTwo" aria-expanded="false"
                    aria-controls="dmptool-collapseTwo">
                    BU - Guidelines zu Förderorganisationen (One-Step-Funderpages)
                </button>
            </h2>
            <div id="dmptool-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Die <a href="#">One-Step-Funderpages</a> bieten eine Übersicht über und Anleitungen für die spezifischen
                    Anforderungen an DMPs einzelner Förderorganisationen.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#dmptool-collapseThree" aria-expanded="false"
                    aria-controls="dmptool-collapseThree">
                    DMP-Toolguide
                </button>
            </h2>
            <div id="dmptool-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Der <a href="https://zenodo.org/records/4632308">DMP-Toolguide</a>.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
    <h3>Publikationsserver</h3>
    <div class="accordion" id="publication">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#publication-collapseOne" aria-expanded="false"
                    aria-controls="publication-collapseOne">
                    BU - Publikationsserver
                </button>
            </h2>
            <div id="publication-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="#">Link</a> zum Publikationsserver der BU.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
    <h3>Gitlab</h3>
    <div class="accordion" id="gitlab">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#gitlab-collapseOne" aria-expanded="false"
                    aria-controls="gitlab-collapseOne">
                    BU - Gitlab des Fachbereichs Informatik
                </button>
            </h2>
            <div id="gitlab-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="#">Link</a> zum Gitlab des Fachbereichs Informatik.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
    <h3>Ontologien</h3>
    <div class="accordion" id="ontology">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ontology-collapseOne" aria-expanded="false"
                    aria-controls="ontology-collapseOne">
                    ACM Computing Classification System
                </button>
            </h2>
            <div id="ontology-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Das <a href="https://dl.acm.org/ccs">ACM CCS</a> ist ein Standard Klassifikationssystem im Bereich des Computing.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ontology-collapseTwo" aria-expanded="false"
                    aria-controls="ontology-collapseTwo">
                    Algorithm Knowledge Graph Ontology (AlgoData)
                </button>
            </h2>
            <div id="ontology-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <a href="https://algodata.mardi4nfdi.de/static/widoco/v1/index-en.html">AlgoData</a>.
                </div>
            </div>
        </div>
    </div>
</div>