<aside class="side-navigation text-body-secondary">
    <div class="position-sticky">
        <strong class="h6">Navigation</strong>
        <hr class="my-1" />
        <nav class="">
            <ul class="">
                <li class="">
                    <a [routerLink]="['/whatisit']" routerLinkActive="active">Was ist Forschungsdatenmanagement?</a>
                </li>
                <li class="">
                    <a [routerLink]="['/services']" routerLinkActive="active">Services</a>
                </li>
                <li class="">
                    <a [routerLink]="['/workshops']" routerLinkActive="active">Schulungen</a>
                </li>
                <li class="">
                    <a class="" href="#">Anleitungen</a>
                </li>
                <li class="">
                    <a class="" href="#">Richtlinien</a>
                </li>
                <li class="">
                    <a class="" href="#">Kontakt</a>
                </li>
                <li>
                    <a [routerLink]="['/team']" routerLinkActive="active">Team</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>