<aside class="side-navigation text-body-secondary">
    <div class="position-sticky">
        <strong class="h6">Navigation</strong>
        <hr class="my-1" />
        <nav class="">
            <ul class="">
                <li class="">
                    <a [routerLink]="['/news']" routerLinkActive="active">Neuigkeiten</a>
                </li>
                <li class="">
                    <a [routerLink]="['/events']" routerLinkActive="active">Events und Termine</a>
                </li>
                <li class="">
                    <a [routerLink]="['/whatisit']" routerLinkActive="active">Was ist Forschungsdatenmanagement?</a>
                </li>
                <li class="">
                    <a [routerLink]="['/services']" routerLinkActive="active">Services</a>
                </li>
                <li class="">
                    <a [routerLink]="['/workshops']" routerLinkActive="active">Schulungen</a>
                </li>
                <li class="">
                    <a [routerLink]="['/infrastructure']">Infrastruktur</a>
                </li>
                <li class="">
                    <a [routerLink]="['/guidelines']">Anleitungen</a>
                </li>
                <li class="">
                    <a [routerLink]="['/policies']">Richtlinien</a>
                </li>
                <li class="">
                    <a [routerLink]="['/contact']">Kontakt</a>
                </li>
                <li>
                    <a [routerLink]="['/team']" routerLinkActive="active">Team</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>