<div>
    <div class="content-header">Publikation</div> 
        <p style="hyphens: auto; text-align: justify;">
            Der Publikationsserver Ihrer Universität ist eine zentrale Plattform, die es Forschenden, Lehrenden und Studierenden ermöglicht, 
            wissenschaftliche Arbeiten digital zu veröffentlichen und der Öffentlichkeit zugänglich zu machen. Er unterstützt dabei, die 
            Sichtbarkeit und den Impact von Forschungsergebnissen nachhaltig zu steigern und den freien Zugang zu Wissen zu fördern.
            Den Publikationsserver können Sie <a [routerLink]="['/forschen/forschungsdatenmanagement/services/publication']">hier</a> finden.
        </p>
        <h4>Was ist ein Publikationsserver?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein Publikationsserver ist ein digitales Repository, das speziell für die Archivierung und Veröffentlichung von wissenschaftlichen Schriften konzipiert ist. Die Plattform bietet:                   
        </p>
            <ul>
                <li>Eine dauerhafte Speicherung und Auffindbarkeit der Werke.</li>
                <li>Eine Vergabe von stabilen und zitierfähigen DOI-Links (Digital Object Identifier).</li>
                <li>Einen einfachen Zugang zu Veröffentlichungen für die wissenschaftliche Community und die Öffentlichkeit.</li>
            </ul>
        <h4>Welche Arten von Publikationen können eingereicht werden?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Auf dem Publikationsserver können zahlreiche Publikationsarten veröffentlicht werden, darunter:
        </p>
            <ul>
                <li>Dissertationen und Habilitationen.</li>
                <li>Fachartikel, Konferenzbeiträge und Monografien.</li>
                <li>Forschungsberichte und Arbeitspapiere.</li>
                <li>Datensätze oder Software, die mit Forschungsprojekten verbunden sind.</li>
            </ul>
        <h4>Wie funktioniert die Publikation?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Der Publikationsprozess auf dem Server ist einfach und benutzerfreundlich:
        </p>
            <ul>
                <li><b>Einreichung der Arbeit:</b> Laden Sie Ihre wissenschaftliche Schrift im entsprechenden Format (z. B. PDF) auf den Server hoch.</li>
                <li><b>Prüfung durch das Team:</b> Die eingereichte Schrift wird auf formale Kriterien geprüft.</li>
                <li><b>Vergabe von Metadaten und DOI:</b> Ihr Dokument wird mit Schlagworten, einer Beschreibung und einem DOI versehen.</li>
                <li><b>Veröffentlichung:</b> Nach erfolgreicher Prüfung wird die Schrift auf dem Server frei zugänglich gemacht.</li>
            </ul>
        <h4>Vorteile der Nutzung des Publikationsservers</h4>
            <ul>
                <li><b>Nachhaltigkeit:</b> Ihre Arbeiten bleiben langfristig verfügbar und archiviert.</li>
                <li><b>Sichtbarkeit:</b> Durch die Indizierung in Suchmaschinen und Datenbanken werden Ihre Werke weltweit gefunden.</li>
                <li><b>Open Access:</b> Unterstützen Sie den offenen Zugang zu Wissen und fördern Sie den wissenschaftlichen Austausch.</li>
            </ul>
        <h4>Unterstützung durch die Universität</h4>
        <p style="hyphens: auto; text-align: justify;">
            Das Team des Publikationsservers steht Ihnen mit Rat und Tat zur Seite. Es werden folgende Services angeboten:
        </p>
            <ul>
                <li><b>Beratung:</b> Unterstützung bei Fragen zur Open-Access-Publikation und zu rechtlichen Aspekten wie Urheberrecht. (publication&#64;bu.com)</li>
                <li><b>Workshops:</b> Schulungen zur Nutzung des Servers und zur Erstellung wissenschaftlicher Publikationen.</li>
                <li><b>Vergabe von Metadaten und DOI:</b> Ihr Dokument wird mit Schlagworten, einer Beschreibung und einem DOI versehen.</li>
                <li><b>Kontakt:</b> Bei technischen oder organisatorischen Fragen können Sie sich jederzeit an das Team wenden. <a [routerLink]="['/forschen/forschungsdatenmanagement/team']">hier</a></li>
            </ul>
        <p style="hyphens: auto; text-align: justify;">    
            Nutzen Sie den Publikationsserver, um Ihre wissenschaftlichen Erkenntnisse effektiv und nachhaltig mit der Welt zu teilen.
        </p>
</div>