<div>
    <div class="content-header">Quellcoderepositorien</div> 
        <p style="hyphens: auto; text-align: justify;">
            Coderepositories sind essenzielle Werkzeuge für die moderne Softwareentwicklung und die kollaborative 
            Arbeit an Codeprojekten. Der Fachbereich Informatik unserer Universität stellt <a [routerLink]="['/forschen/forschungsdatenmanagement/services/coderepos']">hier</a> allen Studierenden und 
            Mitarbeitenden eine leistungsstarke GitLab-Instanz zur Verfügung. Dieses Repository-System dient als 
            zentrale Plattform für die Versionsverwaltung, gemeinsame Entwicklung und effiziente Verwaltung von Softwareprojekten.
        </p>
        <h4>Was ist Gitlab?</h4>
        <p style="hyphens: auto; text-align: justify;">
            GitLab ist eine umfassende Open-Source-Plattform zur Versionskontrolle und kontinuierlichen Integration. Es ermöglicht Ihnen:                    
        </p>
            <ul>
                <li>Quellcode sicher zu speichern und zu verwalten.</li>
                <li>Änderungen am Code nachzuverfolgen und ältere Versionen wiederherzustellen.</li>
                <li>In Teams effizient zusammenzuarbeiten und Aufgaben zu koordinieren.</li>
                <li>Automatisierte Builds und Tests direkt in der Plattform durchzuführen.</li>
            </ul>
        <h4>Vorteile der GitLab-Instanz des Fachbereichs</h4>
        <p style="hyphens: auto; text-align: justify;">
            Die vom Fachbereich Informatik betriebene GitLab-Instanz bietet:
            <br>
            <b>Hohe Verfügbarkeit und Sicherheit:</b> Alle Projekte und Daten sind zuverlässig geschützt und stets zugänglich.
            <br>
            <b>Integration in die universitären Systeme:</b> Die Plattform ist optimal an die Bedürfnisse von Studierenden und Forschenden angepasst.
            <br>
            <b>Unterstützung durch lokale Admins:</b> Bei Fragen oder technischen Problemen stehen die Administratoren des Fachbereichs Informatik zur Seite.
        </p>
        <h4>Zugang beantragen</h4>
        <p style="hyphens: auto; text-align: justify;">
            Der Zugriff auf die GitLab-Instanz ist für alle Mitglieder des Fachbereichs Informatik möglich. So beantragen Sie den Zugang:
            <br>
            <b>Kontaktaufnahme:</b> Wenden Sie sich per E-Mail (admins&#64;gitlab.bu.com) oder persönlich an die Administratoren des Fachbereichs Informatik.
            <br>
            <b>Zugangsdaten erhalten:</b> Nach der Prüfung erhalten Sie Ihre Anmeldedaten und können direkt loslegen.
        </p>
        <h4>Weitere Informationen und Unterstützung</h4>
        <p style="hyphens: auto; text-align: justify;">
            <b>Workshops:</b> Erste Schritte in GitLab und Best Practices werden in regelmäßigen <a [routerLink]="['/forschen/forschungsdatenmanagement/workshops']">Workshops</a> angeboten.
            <br>
            <b>Dokumentation, Anleitungen und Tutorials:</b> Eine umfassende Dokumentation und weitere Hilfe zur GitLab-Instanz finden Sie im Intranet des Fachbereichs <a [routerLink]="['/forschen/forschungsdatenmanagement/services/coderepos']">hier</a>.
            <br>
            <b>Support durch Admins:</b> Bei Fragen oder technischen Herausforderungen unterstützen Sie die Admins (admins&#64;gitlab.bu.com) gerne.
        </p>
        <p style="hyphens: auto; text-align: justify;">    
            Nutzen Sie die Möglichkeiten der GitLab-Instanz, um Ihre Softwareprojekte effizient und professionell umzusetzen! Bei Fragen oder für weitere Informationen wenden Sie sich bitte an die zuständigen Ansprechpartner im Fachbereich Informatik.
        </p>
</div>