<div>
    <div class="content-header">Anleitungen, Richtlinien und Standards</div> 
        <p style="hyphens: auto; text-align: justify;">
            Auf diesen Seiten finden Sie Anleitungen in Form von One-Step Funder-Guides, die beschreiben, wie Sie für diverse Förderorganisationen
            Anträge für Forschungsvorhaben erstellen, Richtlinien dieser Universität in Bezug auf Forschung, Ethik und weitere Themen, Verweise
            zu Initiativen, Metadatenstandards und Ontologien.
        </p>
        <ul>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/standards/guidelines']">Anleitungen</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/standards/policies']">Richtlinien</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/standards/ontologies']">Ontologien</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/standards/metadatastandards']">Metadatenstandards</a></li>
            <li><a [routerLink]="['/forschen/forschungsdatenmanagement/standards/initiatives']">Initiativen</a></li>
        </ul>
</div>