<div>
    <ng-container *ngIf="preferencesService.loggedIn">
        <ng-container *ngFor="let group of preferencesService.preferences.groups">
            <ng-container *ngIf="group.type != 'comp'">
                <ng-container *ngIf="preferencesService.groupNotEmpty(group)">
                    <div style="margin-top: 30px;">
                        <h3>{{group.label}}</h3>    
                        <div class="accordion" id="{{group.name}}">
                            <ng-container *ngFor="let entry of group.entries; index as i">        
                                <ng-container *ngIf="entry.active">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                attr.data-bs-target="#{{group.name}}-{{i}}" aria-expanded="false"
                                                attr.aria-controls="{{group.name}}-{{i}}">
                                                {{entry.label}}
                                            </button>
                                        </h2>
                                        <div attr.id="{{group.name}}-{{i}}" class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                {{entry.description}}<br>
                                                <ng-container *ngIf="entry.internallink">
                                                    <a [routerLink]="entry.link">link</a>
                                                </ng-container>
                                                <ng-container *ngIf="!entry.internallink">
                                                    <a attr.href="{{entry.link}}" target="_blank" rel="noopener noreferrer">link</a>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="group.type == 'comp' && group.entries[0].active"> 
                <ng-container *ngComponentOutlet="getComponent(group.name)" />
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!preferencesService.loggedIn">
        <welcome-comp></welcome-comp>
        <news-comp></news-comp>
        <events-comp></events-comp>
    </ng-container>
</div>