<div style="margin-top: 30px;">
    <div class="content-header">Die nächsten Events und Termine</div>
    <div class="container card-group">
        <ng-container *ngFor="let event of dataservice.events.slice(0,3); index as i">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.text}}</p>
                <p class="card-text"><small class="text-body-secondary">{{event.date}}</small></p>
            </div>
            </div>
        </ng-container>
    </div>
</div>