h1 {
    text-decoration: underline;
  }
  
  .main-content {
    grid-template-columns: 5fr 1fr;
  }
  
  .side-navigation nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    border-bottom: 0.125rem solid transparent;
    display: block;
  }
  
  .side-navigation .h6 {
    padding-left: 0.5rem;
  }
  
  .side-navigation nav ul {
    list-style: none;
    padding-left: 0;
  }
  
  .side-navigation nav a:hover {
    background-color: #9C97BA; /*#4D4DFF */
  }

  .side-navigation nav a.active {
    color: var(--bs-blue);
  }
  
  .nav-item {
    font-size: 20pt
  }

  .content-header {
    font-size: 21pt;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .form-header {
    font-size: 15pt;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  li.active-side {
    background-color:#e9ecef;
    border-radius: 0.25rem;
    border-bottom: 0.125rem solid transparent;
  }
  
  .accordion-button:not(.collapsed) {
    background-color:#e9ecef!important;
  }

  aside.side-navigation {
    margin-left: 15px; top: 6rem
  }