<div>
    <div class="content-header">Einstellungen</div>
    <div>
        <label for="dropdown">Wählen Sie eine Voreinstellung:</label>&nbsp;
        <select id="dropdown" [(ngModel)]="selectedValue">
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>&nbsp;
        <button (click)="onButtonClick()" class="btn btn-primary btn-sm">Setzen</button>
    </div>
    Hier ausgewählte Services werden auf der Hauptseite angezeigt.
    <div>
        <form #form="ngForm">
            <ng-container *ngFor="let group of preferencesService.preferences.groups">
                <div class="form-header">{{group.label}}</div>
                <ng-container *ngFor="let entry of group.entries">       
                    <div class="form-check form-switch">
                        <input class="form-check-input" 
                            type="checkbox" 
                            role="switch" 
                            [id]="group.name + '-' + entry.id"
                            [name]="group.name + '-' + entry.id"
                            [(ngModel)]="entry.active">
                        <label class="form-check-label" [for]="group.name + '-'  + entry.id">{{entry.label}}</label>
                    </div>
                </ng-container> 
            </ng-container>
        </form>
    </div>
</div>