<div>
    <div class="content-header">Datenmanagementpläne</div> 
        <p style="hyphens: auto; text-align: justify;">
            Hier finden Sie Informationen rund um das Erstellen und Verwalten von Datenmanagementplänen.
            Anleitungen zur Erstellung von förderorganisationsspezifischen Datenmanagementplänen und Hilfe zu
            Anträgen finden sie <a [routerLink]="['/forschen/forschungsdatenmanagement/standards/guidelines']">hier</a>.
        </p>
        <h4>Was ist ein DMP?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein Datenmanagementplan (DMP) ist ein essentielles Instrument zur Planung, Organisation und nachhaltigen 
            Verwaltung von Forschungsdaten. An Universitäten spielt der DMP eine zentrale Rolle, um den wissenschaftlichen 
            Fortschritt zu unterstützen und die Anforderungen von Förderorganisationen zu erfüllen. Im Folgenden finden 
            Sie eine Übersicht über die Erstellung, Bearbeitung und Inhalte von Datenmanagementplänen.
            Ein DMP beschreibt, wie Forschungsdaten während und nach einem Forschungsprojekt erfasst, organisiert, analysiert, 
            gespeichert und veröffentlicht werden. Ziel ist es, die Daten transparent und nachhaltig zugänglich zu machen.
        </p>
        <h4>Wie erstelle ich einen DMP?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Die Erstellung eines DMP erfolgt meist zu Beginn eines Forschungsprojekts. Universitäten bieten oft unterstützende 
            Ressourcen und Vorlagen an. Hier sind die wichtigsten Schritte:
            <br>
            Analyse der Anforderungen: Identifizieren Sie, welche Daten erfasst und verarbeitet werden.
            <br>
            Festlegung von Verantwortlichkeiten: Bestimmen Sie, wer für die Datenerhebung, Speicherung und 
            Verwaltung zuständig ist.
            <br>
            Definition von Speichermethoden: Planen Sie, wie und wo Daten sicher gespeichert werden.
            <br>
            Datenfreigabe: Entscheiden Sie, welche Daten veröffentlicht oder geteilt werden sollen und mit 
            welchen Zugriffsrechten.
        </p>
        <h4>Bearbeitung und Pflege eines DMP?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein DMP ist ein dynamisches Dokument, das während der Projektlaufzeit regelmäßig aktualisiert werden sollte. 
            Änderungen im Projektverlauf, wie neue Datenerhebungsmethoden oder veränderte Speicheranforderungen, sollten 
            dokumentiert werden. Universitäten bieten Tools an, um diese Prozesse zu erleichtern.
        </p>
        <h4>Inhalte eines DMP?</h4>
        <p style="hyphens: auto; text-align: justify;">
            Ein DMP gliedert sich in folgende zentrale Bestandteile:
            <br>
            Beschreibung der Forschungsdaten: Art, Umfang und Format der Daten.
            <br>
            Datenerhebung und Dokumentation: Methoden zur Datenerfassung und -annotation.
            <br>
            Speicherung und Sicherung: Maßnahmen zur Datensicherheit und Back-ups.
            <br>
            Datenfreigabe und Zugriff: Regelungen zur Veröffentlichung und zum Teilen der Daten.
            <br>Langfristige Archivierung: Pläne für die Langzeitverfügbarkeit der Daten.
        </p>
        <h4>Angebote der Universität</h4>
        <p style="hyphens: auto; text-align: justify;">
            Um Forschende bei der Erstellung und Pflege von DMPs zu unterstützen, bietet die Universität:
            <br>
            Unsere Instanz des RDMO zum Erstellen und Bearbeiten von DMPs, die <a [routerLink]="['/forschen/forschungsdatenmanagement/services/dmp']">hier</a> zu finden ist.
            <br>
            Workshops und Schulungen, die <a [routerLink]="['/forschen/forschungsdatenmanagement/workshops']">hier</a> zu finden sind.
            <br>
            Beratung durch Spezialisten, die Sie <a [routerLink]="['/forschen/forschungsdatenmanagement/team']">hier</a> finden können.
            <br>
            Ein gut durchdachter Datenmanagementplan ist ein Schlüssel zum Erfolg moderner Forschung. Nutzen Sie die Unterstützung Ihrer Universität, um Ihre Daten optimal zu verwalten!
        </p>
</div>